.titulo1{
    color:honeydew;
    font-size: 2.5em;
    font-family: Arial;
    margin-top: 10px;
    

}
.titulo2{
    color:rgb(229,190,001);
    font-size: 2.5em;
    font-family: Arial;
    
}

h2{
    color: honeydew;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    letter-spacing: 2px;
    width: fit-content;
    background-color: rgba(199, 199, 199, 0.048);
}
.firstContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem 7rem;
}
.menuIcon{
    position: relative;
    right: 100px;
    fill: currentColor;
    color: black;
    border-radius: 30%;


}
.profileIcon{
    position: relative;
    left: 170px;
    background-image: url(images/profilePhoto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15%;
    padding: 1rem;
    filter: drop-shadow(0px 5px 8px black);
    border: 4px solid rgba(255, 255, 255, 0.377);
}
.headContent{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-image: url(images/mountain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 50%;
}
header{
    padding: 0px 0px 0px 20px;
    text-align: left;   
    margin-top: 10px;
}

body{
    display: flex;
<<<<<<< HEAD
    height: 100%;
=======
    height: fit-content;
>>>>>>> 8ee0e57d7a7a05b6817dc60f7798ec7b24d4908c
    flex-direction: column;
    margin: 0px;
    color: rgb(207, 207, 207);
 
}

.infoContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(36, 36, 36);
    font-family: sans-serif;
    font-size: 1.2em;
    padding: 5px 0px 5px 20px;
    background-color: rgb(229,190,001);

}
#popularText{
    position: relative;
    right: 0px;
    fill: currentColor;
    
}
.fireIcon{
    position: relative;
    right: 5px;
    margin-bottom: 2px;
    fill: currentColor;
}
.searchText{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    font-family: Arial; 
    margin-top: 30px;
    margin-bottom: 60px; 
    margin-left: 50px;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;   


}
.lupaIcon{
    position: relative;
    right: 310px;
    fill: currentColor;
    color: rgb(49, 49, 49);


}
.settingIcon{
    position: relative;
    right: 70px;
    fill: currentColor;
    color: black;
    background-color: rgb(229,190,001);
    filter: drop-shadow(0px 5px 4px gray);
    border-radius: 10px;
    padding: 4px 8px;
    cursor: pointer;

}
.searchText input{
    position: relative;
    border-radius: 15px;
    padding: 0.7rem 4rem;
    font-size: 1rem;

}
/* .text{
    position: relative;
    right: 50px;
    color: darkgrey;
    font-size: 1.5em;
} */


.menuContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    font-size: 1.5rem;      
    margin-top: 30px;
    margin-bottom: 10px; 
    text-decoration: none;
    letter-spacing: 1px;

}

.campOp{

    border-radius: 15px;
    background-image: url(images/camping.jpg);
    filter: drop-shadow(8px 8px 10px gray);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 7rem;
    margin-bottom: 30px;
    cursor: pointer;
}
#camping{
    margin:0px;
    position: relative;
    top: 30px;
    color: white;
    background-color: rgba(128, 128, 128, 0.377);
}
.climbOp{

    border-radius: 15px;
    background-image: url(images/climbing.jpg);
    filter: drop-shadow(8px 8px 10px gray);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 3.5rem;
    margin-bottom: 30px;
    cursor: pointer;
}
#climbing{
    margin:0px;
    width: 100%;
    white-space: pre;
    position: relative;
    top: 30px;
    color: white;
    background-color: rgba(128, 128, 128, 0.377);
}
.snorkOp{

    border-radius: 15px;
    background-image: url(images/snorkeling.jpg);
    filter: drop-shadow(8px 8px 10px gray);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 6.4rem;
    margin-bottom: 30px;
    cursor: pointer;
}
#snorkel{
    margin:0px;
    position: relative;
    top: 30px;
    color: white;
    background-color: rgba(128, 128, 128, 0.377);
}

.kayOp{

    border-radius: 15px;
    background-image: url(images/kayaking.jpg);
    filter: drop-shadow(8px 8px 10px gray);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 7rem;
    margin-bottom: 30px;
    cursor: pointer;
}
#kayak{
    margin:0px;
    position: relative;
    top: 30px;
    color: white;
    background-color: rgba(128, 128, 128, 0.377);
}
